header {
    background: #BBBBBB;
    padding: 20px 0;
}

.cabecalho{
    display: flex;
	margin: 0 auto; 
    justify-content: space-around;  
}

.cabecalho__menu {
    margin-top: 110px;
}

.cabecalho__lista, nav a {
    display: inline;
    margin: 0 0 0 15px;
    text-transform: uppercase;
	color:  #000000;
	font-size:  22px;
    font-weight: lighter;
    text-decoration: none;	
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19;
}

