.container__produtos {
	text-align: center;
    max-width: 100%;
	margin: 0 auto;
	padding:  50px 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.titulo__principal--produtos {
	text-align: center;
    font-size: 2em;
    margin: 1em 0 2em;
    font-style: italic;
    font-weight: bold;
}

.titulo__principal--produtos:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 60%;
	padding-top: 40px;
	border-bottom: 3px solid rgba(255, 140, 0, 0.603);
	border-radius: 7px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding:  50px 0;	
}

.produtos li {
	display: inline-block;
	width: 30%;
	margin: 0 1.5%;
	padding:  30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:hover h3 {
	font-size: 30px;
}

.produtos h3 {
	font-size: 25px;
	font-weight: bold;
}

.produto__preco {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

.produto__descricao {
	font-size: 18px;
}

